In [10]:
import pandas as pd

In [19]:
import pandas as pd 
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45],
    "steps": [5000, 6000, 5500],
    "heart_rate": [80, 85, 78],
    "distance": [3.5, 4.2, 3.9],
    "reps": [15, 12, 10],
    "sets": [3, 3, 4],
    "speed": [10.2, 9.8, 10.5],
    "weight": [150, 160, 140],
    "workout_type": ["running", "cycling", "swimming"]
}    

info = pd.DataFrame(data)

info

,calories,duration,steps,heart_rate,distance,reps,sets,speed,weight,workout_type
0,420,50,5000,80,3.5,15,3,10.2,150,running
1,380,40,6000,85,4.2,12,3,9.8,160,cycling
2,390,45,5500,78,3.9,10,4,10.5,140,swimming

In [24]:
info.to_csv('exercise_info.csv', index=False)

In [22]:
info["duration"] = info["duration"].astype(str)+ "minutes"

In [23]:
info

,calories,duration,steps,heart_rate,distance,reps,sets,speed,weight,workout_type
0,420,50minutes,5000,80,3.5,15,3,10.2,150,running
1,380,40minutes,6000,85,4.2,12,3,9.8,160,cycling
2,390,45minutes,5500,78,3.9,10,4,10.5,140,swimming